<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div>
    <h2>Products in Database</h2>
    <% @products.each do |product| %>
      <div>
        <%= product.name %>
      </div>
    <% end %>
  </div>

  <div>
    <h2>Categories in Database</h2>
    <% @categories.each do |category| %>
      <div>
        <%= category.name %>
      </div>
    <% end %>
  </div>

</section>